<footer class="foot">
  <div class="col r">
    <h3>POLÍTICAS</h3>
    <span class="more">+</span>
    <div class="sub-menu">
      <a href="#">Políticas de privacidad</a>
      <a href="#">Políticas de cambio</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Responsabilidad social</a>
    </div>
  </div>
  <div class="col r">
    <h3>SOBRE NOSOTROS</h3>
    <span class="more">+</span>
    <div class="sub-menu">
      <a href="#">Encuentra tu tienda</a>
      <a href="#">Contáctanos</a>
      <a href="#">Trabaja con nosotros</a>
    </div>
  </div>
  <div class="col r">
    <h3>MEDIOS DE PAGO</h3>
    <span class="more">+</span>
    <div class="sub-menu">
      <a href="#">Medios de pago</a>
    </div>
  </div>
  <div class="col">
    <h3>SÍGUENOS EN:</h3>
    <div class="inf">
      <a href="">
        <img src="../assets/icons/Grupo 179.svg" alt="" />
      </a>
      <a href="">
        <img src="../assets/icons/Grupo 180.svg" alt="" />
      </a>
      <a href="">
        <img src="../assets/icons/Grupo 181.svg" alt="" />
      </a>
      <a href="">
        <img src="../assets/icons/Grupo 127.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
<div class="foot footer" align="center">
  <hr>
  <small class="text-footer"
    >© Copyright Colombia. Todos los derechos reservados</small
  >
  <br />
  <br />
</div>
