    /* pie */
    .foot {
        display: block;
        padding: 1em;
      }
      .foot .col {
        margin: 1em;
        padding: 0;
      }
      .r {
        border-bottom: 1px solid var(--gray);
      }
      .foot .col h3 {
        margin: 1em;
      }
      .foot .sub-menu {
        /* padding: 0 18px; */
        background-color: white;
        display: none;
        overflow: hidden;
      }
      .col .more {
        display: block;
        position: absolute;
        font-size: x-large;
        font-weight: 900;
        right: 0;
        margin-top: -1.8em;
        margin-right: 2em;
      }
      .foot .inf {
        margin-left: 1em;
      }
    
      .footer hr {
        display: none;
        opacity: 0;
      }
      .foot .sub-menu a {
        float: none;
        width: 150px;
      }
    }