<!-- barra de busqueda -->

<input type="checkbox" id="m1">
<div class="searchbar">
  <div class="title">
    <label class="menu" for="m1">☰</label>
    <h1><a [routerLink]="['home']">CLOTHESSTORE</a></h1>
  </div>
  <div class="bar">
    <div class="group">
      <!-- <div class="group"> -->
      <input
        type="text"
        class="input-search"
        maxlength="100"
        placeholder="Buscar aquí producto"
        autocomplete="off"
        #buscar
      />
      <!-- </div> -->
      <!-- <div class="group"> -->
      <button class="button" (click)="buscarProducto(buscar.value)">
        <img src="../assets/icons/Icon ionic-ios-search.svg" alt="buscar" />
      </button>
      <!-- </div> -->
    </div>
  </div>
  <div class="buttons">
    <div class="car" (click)="openModal()">
      <div class="not" *ngIf="products.length != 0">
        <small>{{ products.length }}</small>
      </div>
      <img src="../assets/icons/icon-cart.svg" alt="carrito" />
    </div>
    <div class="user">
      <img src="../assets/icons/icon-user.svg" alt="carrito" />
    </div>
    <div class="login">
      <button class="button-login">Iniciar Sesión</button>
    </div>
  </div>
</div>

<!-- barra de navegación -->
<div class="navbar">
  <div class="parent">
    <a [routerLink]="['hombre']" class="child">Hombre</a>
    <div class="vr"></div>
    <a [routerLink]="['mujer']" class="child">Mujer</a>
    <div class="vr"></div>
    <a [routerLink]="['junior']" class="child">Junior</a>
    <div class="vr"></div>
    <a [routerLink]="['ninos']" class="child">Niños</a>
    <div class="vr"></div>
    <a [routerLink]="['accesorios']" class="child">Accesorios</a>
    <div class="vr"></div>
    <a [routerLink]="['ofertas']" class="child">Ofertas</a>
  </div>
  <label for="m1" class="close">X</label>
</div>
